.tac {
  text-align: center;
  width: 100%;
}
.brands-logo li {
  list-style: none;
  display: inline-block;
  margin: 5px 23px;
}
.presentation {
  margin: 5% 0px 10% 0;
  h1 {
    color: #00b39b;
    margin-bottom: 5%;
  }
  .para {
    color: #737070;
  }
}
